---
    title: This page for you
    layout: base.njk
---

<div class="container">
    <h1>Your News Now</h1>

    <ul>
    {% for article in news.articles %}
        <li>
            <h3><a target="_blank" href="{{ article.url }}">{{ article.title }}</a></h3>
            <span>{{ article.source.name }} - <time> {{ article.publishedAt }}</time></span>
        </li>
    {% endfor %}
    </ul>
</div>
